/* comienzo del catalogo */
.titulo {
    font-family: $fonttitle;
    font-size: $sizefonttitle;
    text-align: center;
    padding: 5rem;
}

.main-flex {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .galeria {
        position: relative;
        justify-content: center;

        div {
            
            display: flex;
            flex-direction: column;
            align-items: center;

            .subtitulocatalogo1 {
                font-family: $fonttitle;
                width: 5rem;
                color: $colorfont;
            }

            .imgcatalogo {
                width: 20rem;
                border-style: double;
                border-width: 0.9rem;
                border-radius: 0.2rem;
                margin-left: 2rem;
                border-color: rgb(3, 27, 84);
                display: flex;
                justify-content: center;


            }

            button {
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color: $colorfont;
                border-width: 5rem;
                border-color: $colorfont;
                border-radius: 5rem;
                text-align: center;
                margin: 2rem auto;
            }
        }

        .subtitulocatalogo2 {

            font-family: $fonttitle;
            width: 5rem;
            left: 8rem;
            color: $colorfont;


        }

    }

    @include responsive {
        .galeria {
            position: relative;
            justify-content: center;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;

                button {
                    margin: 2rem auto;
                }
            }
        }
    }


}