/* comienzo del catalogo */
.titulo {
    font-family: $fonttitle;
    font-size: 1.875;
    text-align: center;
    padding: 5rem;
}

.main-flex {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .galeria {

        position: relative;
        /*         left: 150px; */

        div {

            .subtitulocatalogo1 {
                font-family: $fonttitle;
                width:5rem;
                color: $colorfont;
            }

            .imgcatalogo {
                width: 20rem;
                border-style: double;
                border-width: 0.9rem;
                border-radius: 0.2rem;
                margin-left: 2rem;
                border-color: rgb(3, 27, 84);
                display: flex;
                justify-content: center;
                

            }

            button {
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color:$colorfont;
                border-width: 5rem;
                border-color: $colorfont;
                border-radius: 5rem;


            }
        }

        .subtitulocatalogo2 {

            font-family: $fonttitle;
            width: 5rem;
            left: 8rem;
            color: $colorfont;


        }

    }


}