/* comienzo de nosotros */
.gradientes {

    background-image: $colorfondobody;

    .main-container {

        display: flex;
        justify-content: center;
        main {
            .titulo {

                font-family: $fonttitle;
                font-size: 1.875;
                text-align: center;
                padding: 5rem;
            }

            div {
                .container-form {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    width: 30rem;
                    margin-top: 3rem;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    color: black;
                }
            }

            section {

                .container-maps {

                    display: flex;
                    justify-content: center;
                    width: 22rem;
                    height: 19rem;
                    margin: 2rem 10rem;
                    border-color: black;
                }

                .fontdirection {
                    color: black;
                    font-family: 'Times New Roman', Times, serif;
                }
            }


        }
    }

    @include responsive {
        .main-container {
            main {
                div {
                    .container-form {
                        width: 80%;
                        margin: auto;
                    }
                }
            }
        }
    }
}

/* fin de conctactanos */