/* comienzo de nosotros */
.gradientes {

    background-image: $colorfondobody;

    .main-container {

        display: flex;
        justify-content: center;

        main {
            .titulo {

                font-family: $fonttitle;
                font-size: 1.875;
                text-align: center;
                padding: 5rem;

                h1 {}

                h2 {}
            }

            div {
                .container-form {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    margin-top: 3rem;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    color: black;
                }
            }


        }
        section{

            .container-maps {
                margin-top: 2rem;
                position: relative;
                width: 100%;
                height: 0;
                padding-bottom: 75%;
                z-index: 0;
        
                iframe{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border: 0;

                }

            }

            .fontdirection{
                margin-top: 5rem;
                display: grid;
                margin: auto;
                grid-template-rows:50px repeat(3) ;
                grid-template-columns:50px repeat(3) ;
                z-index: 1;
            

                h3{

                }

            }

        }


    }

    @include responsive {
        .main-container {

            section {
                .container-maps {
                    padding-bottom: 56.25%; // Ajusta la proporción del aspecto para dispositivos más pequeños
                }
            }
            main {
                div {
                    .container-form {
                        width: 80%;
                        margin: auto;
                    }
                }
            }
        }
    }
}

/* fin de conctactanos */