@import "../base/vars";
/* footer */
.piedepaginafirts{

    background-color: $colorfondo;
    text-align: left;
    display: flex;
    justify-content: center;

    .piedepagina{

        font-family: 'Lobster Two', cursive;
        font-size: 1rem;

    }

    .piedepagina{

        font-family: 'Lobster Two', cursive;
        font-size: 1rem;

    }

    a{

        .logoderedes{

            width: 1.875rem;
            text-align: center;

        }
    }

}

/* fin del footer */