/* variables */

/* colours */
$colorfondo:  rgb(51, 70, 110);
$colorfondobody:linear-gradient(rgb(54, 71, 112), rgb(141, 61, 216));

/* fonts */
$fontmain: 'Bebas Neue', cursive;
$fonttitle: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$fontnostros: 'Sedgwick Ave Display', cursive;
$sizefontnav:1.25rem;
$sizefonttitle:2.5rem;
$sizefontparrafo: 2rem;
$colorfont: black;

/* imagenes del index */
$sizeimgtemp: 31.25rem;
$border: double;
$sizeborder: 0.80rem;
$borderradius: 0.50rem;
$bordercolor:  rgb(47, 63, 99);

